<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICommunicator" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/WcfAndWindowsService/Communicator"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommunicator"
                contract="CommunicatorReference.ICommunicator" name="BasicHttpBinding_ICommunicator" />
        </client>
    </system.serviceModel>
</configuration>